#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background-color: dimgray;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px 0;
}

input {
  margin: 8px;
  width: 80%;
  height: 25px;
  border-radius: 10px;
}

.buttons {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

.buttons > .cancel {
  background-color: lightcoral;
}

.buttons > .add {
  background-color: lightgreen;
}
